:root{
  --white: #EBE7E0;
  --light: #FCEC92;
  --medium: #F7C771;
  --med-grey: #D1CDC5;
  --dark: #ABA9A4;
  --black: #000000;
  --transparency:rgba(0, 0, 0, 0);
  --seethrough:rgba(31, 0, 92, 0.3);

  --basic: 'Fauna One', serif;
  --fancy: 'Cinzel Decorative', cursive;

  --domeheight: 50vh;

  --timeasdegree: 35deg;

  --minutesasdegree: 48deg;

/* main dome styles */
  --stripes:
  conic-gradient(from -90deg at 50% 100%,
  var(--medium) 20deg,
  var(--light) 20deg 40deg,
  var(--medium) 40deg 60deg,
  var(--light) 60deg 80deg,
  var(--medium) 80deg 100deg,
  var(--light) 100deg 120deg,
  var(--medium) 120deg 140deg,
  var(--light) 140deg 160deg,
  var(--medium) 160deg 180deg);

  --overlay:
  conic-gradient(from -90deg at 50% 100%,
  var(--seethrough) var(--timeasdegree), 
  var(--transparency) calc(var(--timeasdegree) + 1deg) 180deg 
  );


/* small dome styles */
  --smallstripes: 
  conic-gradient(from -90deg at 50% 100%,
  var(--medium) 40deg,
  var(--white) 41deg 43deg,
  var(--medium) 44deg 88deg,
  var(--white) 89deg 91deg,
  var(--medium) 92deg 136deg,
  var(--white) 137deg 139deg,
  var(--medium) 140deg 180deg);

  --smalloverlay:
  conic-gradient(from -90deg at 50% 100%,
  var(--seethrough) var(--minutesasdegree), 
  var(--transparency) calc(var(--minutesasdegree) + 2deg) 180deg 
  );

  --makearainbow: 
    radial-gradient(
    circle at 50% 100%,
      var(--white) calc(30% - 1px), 
      transparent 30%);
}

:root.eggtheme {
    --white: #EBE7E0;
    --light: #FCEC92;
    --medium: #fdc835;
    --med-grey: #D1CDC5;
    --dark: #ABA9A4;
    --black: #000000;
    --transparency:rgba(0, 0, 0, 0);
    --seethrough:rgba(31, 0, 92, 0.3);

    --basic: 'Fauna One', serif;
    --fancy: 'Cinzel Decorative', cursive;

    --domeheight: 50vh;

    --timeasdegree: 35deg;

    --minutesasdegree: 48deg;

  /* main dome styles */
    --stripes:
    conic-gradient(from -90deg at 50% 100%,
    var(--medium) 20deg,
    var(--light) 20deg 40deg,
    var(--medium) 40deg 60deg,
    var(--light) 60deg 80deg,
    var(--medium) 80deg 100deg,
    var(--light) 100deg 120deg,
    var(--medium) 120deg 140deg,
    var(--light) 140deg 160deg,
    var(--medium) 160deg 180deg);

    --overlay:
    conic-gradient(from -90deg at 50% 100%,
    var(--seethrough) var(--timeasdegree), 
    var(--transparency) calc(var(--timeasdegree) + 1deg) 180deg 
    );


  /* small dome styles */
    --smallstripes: 
    conic-gradient(from -90deg at 50% 100%,
    var(--medium) 40deg,
    var(--white) 41deg 43deg,
    var(--medium) 44deg 88deg,
    var(--white) 89deg 91deg,
    var(--medium) 92deg 136deg,
    var(--white) 137deg 139deg,
    var(--medium) 140deg 180deg);

    --smalloverlay:
    conic-gradient(from -90deg at 50% 100%,
    var(--seethrough) var(--minutesasdegree), 
    var(--transparency) calc(var(--minutesasdegree) + 2deg) 180deg 
    );

    --makearainbow: 
      radial-gradient(
      circle at 50% 100%,
        var(--white) calc(30% - 1px), 
        transparent 30%);
  }

  :root.sunrisetheme {
    --white: #FDEAE4;
    --light: #E1FDFD;
    --medium: #D18CBB;
    --med-grey: #7f8286;
    --dark: #ABD1E0;
    --black: #004063;
    --transparency:rgba(0, 0, 0, 0);
    --seethrough:rgba(132, 73, 131, 0.7);

    --basic: 'Quicksand', sans-serif;
    --fancy: 'Pacifico', cursive;

    --domeheight: 50vh;

    --timeasdegree: 35deg;

    --minutesasdegree: 48deg;

  /* main dome styles */
    --stripes:
    conic-gradient(from -90deg at 50% 100%,
    var(--dark) 20deg,
    var(--light) 20deg 40deg,
    var(--dark) 40deg 60deg,
    var(--light) 60deg 80deg,
    var(--dark) 80deg 100deg,
    var(--light) 100deg 120deg,
    var(--dark) 120deg 140deg,
    var(--light) 140deg 160deg,
    var(--dark) 160deg 180deg);

    --overlay:
    conic-gradient(from -90deg at 50% 100%,
    var(--seethrough) var(--timeasdegree), 
    var(--transparency) calc(var(--timeasdegree) + 1deg) 180deg 
    );


  /* small dome styles */
    --smallstripes: 
    conic-gradient(from -90deg at 50% 100%,
    var(--medium) 40deg,
    var(--white) 41deg 43deg,
    var(--medium) 44deg 88deg,
    var(--white) 89deg 91deg,
    var(--medium) 92deg 136deg,
    var(--white) 137deg 139deg,
    var(--medium) 140deg 180deg);

    --smalloverlay:
    conic-gradient(from -90deg at 50% 100%,
    var(--seethrough) var(--minutesasdegree), 
    var(--transparency) calc(var(--minutesasdegree) + 2deg) 180deg 
    );

    --makearainbow: 
      radial-gradient(
      circle at 50% 100%,
        var(--white) calc(30% - 1px), 
        transparent 30%);
  }


  :root.sunsettheme {
    --white: #1dd8e9;
    --light: #FFE880;
    --medium: #FF76BA;
    --med-grey: #D1CDC5;
    --dark: #6263a5;
    --black: #130d38;
    --transparency:rgba(0, 0, 0, 0);
    --seethrough:rgba(31, 0, 92, 0.3);

    --basic: 'Fauna One', serif;
    --fancy: 'Berkshire Swash', cursive;

    --domeheight: 50vh;

    --timeasdegree: 35deg;

    --minutesasdegree: 48deg;

  /* main dome styles */
    --stripes:
    conic-gradient(from -90deg at 50% 100%,
    var(--medium) 20deg,
    var(--light) 20deg 40deg,
    var(--medium) 40deg 60deg,
    var(--light) 60deg 80deg,
    var(--medium) 80deg 100deg,
    var(--light) 100deg 120deg,
    var(--medium) 120deg 140deg,
    var(--light) 140deg 160deg,
    var(--medium) 160deg 180deg);

    --overlay:
    conic-gradient(from -90deg at 50% 100%,
    var(--seethrough) var(--timeasdegree), 
    var(--transparency) calc(var(--timeasdegree) + 1deg) 180deg 
    );


  /* small dome styles */
    --smallstripes: 
    conic-gradient(from -90deg at 50% 100%,
    var(--medium) 40deg,
    var(--white) 41deg 43deg,
    var(--medium) 44deg 88deg,
    var(--white) 89deg 91deg,
    var(--medium) 92deg 136deg,
    var(--white) 137deg 139deg,
    var(--medium) 140deg 180deg);

    --smalloverlay:
    conic-gradient(from -90deg at 50% 100%,
    var(--seethrough) var(--minutesasdegree), 
    var(--transparency) calc(var(--minutesasdegree) + 2deg) 180deg 
    );

    --makearainbow: 
      radial-gradient(
      circle at 50% 100%,
        var(--white) calc(30% - 1px), 
        transparent 30%);
  }


  :root.newstheme {
    --white: #EBE7E0;
    --light: #a5a0a0;
    --medium: #6e6e6e;
    --med-grey: #D1CDC5;
    --dark: #7c7c7a;
    --black: #000000;
    --transparency:rgba(0, 0, 0, 0);
    --seethrough:rgba(233, 231, 236, 0.6);

    --basic: 'Fauna One', serif;
    --fancy: 'Abril Fatface', cursive;;

    --domeheight: 50vh;

    --timeasdegree: 35deg;

    --minutesasdegree: 48deg;

  /* main dome styles */
    --stripes:
    conic-gradient(from -90deg at 50% 100%,
    var(--medium) 20deg,
    var(--light) 20deg 40deg,
    var(--medium) 40deg 60deg,
    var(--light) 60deg 80deg,
    var(--medium) 80deg 100deg,
    var(--light) 100deg 120deg,
    var(--medium) 120deg 140deg,
    var(--light) 140deg 160deg,
    var(--medium) 160deg 180deg);

    --overlay:
    conic-gradient(from -90deg at 50% 100%,
    var(--seethrough) var(--timeasdegree), 
    var(--transparency) calc(var(--timeasdegree) + 1deg) 180deg 
    );


  /* small dome styles */
    --smallstripes: 
    conic-gradient(from -90deg at 50% 100%,
    var(--medium) 40deg,
    var(--white) 41deg 43deg,
    var(--medium) 44deg 88deg,
    var(--white) 89deg 91deg,
    var(--medium) 92deg 136deg,
    var(--white) 137deg 139deg,
    var(--medium) 140deg 180deg);

    --smalloverlay:
    conic-gradient(from -90deg at 50% 100%,
    var(--seethrough) var(--minutesasdegree), 
    var(--transparency) calc(var(--minutesasdegree) + 2deg) 180deg 
    );

    --makearainbow: 
      radial-gradient(
      circle at 50% 100%,
        var(--white) calc(30% - 1px), 
        transparent 30%);
  }


  :root.pizzatheme {
    --white: #DFB587;
    --light: #DD4F23;
    --medium: #f48443;
    --med-grey: #DD4F23;
    --dark: #CD9761;
    --black: #233d24;
    --transparency:rgba(0, 0, 0, 0);
    --seethrough:rgba(143, 16, 16, 0.7);

    --basic: 'Fauna One', serif;
    --fancy: 'Rancho', cursive;

    --domeheight: 50vh;

    --timeasdegree: 35deg;

    --minutesasdegree: 48deg;

  /* main dome styles */
    --stripes:
    conic-gradient(from -90deg at 50% 100%,
    var(--medium) 20deg,
    var(--light) 20deg 40deg,
    var(--medium) 40deg 60deg,
    var(--light) 60deg 80deg,
    var(--medium) 80deg 100deg,
    var(--light) 100deg 120deg,
    var(--medium) 120deg 140deg,
    var(--light) 140deg 160deg,
    var(--medium) 160deg 180deg);

    --overlay:
    conic-gradient(from -90deg at 50% 100%,
    var(--seethrough) var(--timeasdegree), 
    var(--transparency) calc(var(--timeasdegree) + 1deg) 180deg 
    );


  /* small dome styles */
    --smallstripes: 
    conic-gradient(from -90deg at 50% 100%,
    var(--medium) 40deg,
    var(--white) 41deg 43deg,
    var(--medium) 44deg 88deg,
    var(--white) 89deg 91deg,
    var(--medium) 92deg 136deg,
    var(--white) 137deg 139deg,
    var(--medium) 140deg 180deg);

    --smalloverlay:
    conic-gradient(from -90deg at 50% 100%,
    var(--seethrough) var(--minutesasdegree), 
    var(--transparency) calc(var(--minutesasdegree) + 2deg) 180deg 
    );

    --makearainbow: 
      radial-gradient(
      circle at 50% 100%,
        var(--white) calc(30% - 1px), 
        transparent 30%);
  }



  div, 
  div:before, 
  div:after {
    box-sizing: border-box;
  }
  
  body {
    background: var(--white);
    background-color: var(--white);
    color: var(--black);
    font-family: var(--basic);
    text-align: center;
    background-image: linear-gradient(0deg, var(--white) 0% 50%, var(--dark) 100%);
  }


  .container{
    width: 95vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 97vw;
    /* grid-template-rows: 20% 50% 15% 10% 5%; */
    grid-template-rows: 2fr 5fr 1.5fr 1fr 0.5fr;
    place-items: stretch;
  }



  .main-dome{
    position: absolute;

    left: 50%;
    transform: translate(-50%, 0%);

    height: var(--domeheight);
    width: calc(var(--domeheight) * 2);
    border-top-left-radius: calc(var(--domeheight) * 2);
    border-top-right-radius: calc(var(--domeheight) * 2);

    background: 
      radial-gradient(
        circle at 50% 100%,
        var(--white) calc(40% - 1px), 
        transparent 40%),

        var(--overlay),
        var(--stripes);
  }  
  
 
  .cell-4{
  background-color: var(--dark);
  overflow: hidden;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-items: center;
  }

  .hours{
  position: absolute;
  width: calc((var(--domeheight) * 2));
  height: var(--domeheight);
  }

  .number  {
  font-family: var(--basic);
  font-size: 1.5 rem;
  height: calc(var(--domeheight) + 1.5rem);
  position: absolute;
  display:inline-block;
  top: -1.5rem;
  left: calc(50% - 0.75rem);
  width: 1.5rem;
  transform-origin: bottom center;
  }

 .number:first-child{
  transform: rotate(-90deg)
 }
 .number:nth-child(2){
  transform: rotate(-70deg)
} 
.number:nth-child(3){
  transform: rotate(-50deg)
} 
.number:nth-child(4){
  transform: rotate(-30deg)
} 
.number:nth-child(5){
  transform: rotate(-10deg)
} 
.number:nth-child(6){
  transform: rotate(10deg)
} 
.number:nth-child(7){
  transform: rotate(30deg)
} 
.number:nth-child(8){
  transform: rotate(50deg)
} 
.number:nth-child(9){
  transform: rotate(70deg)
} 
 .number:last-child{
transform:rotate(90deg);
} 

.small-dome{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);

  height: calc(var(--domeheight) / 4);
  width: calc(var(--domeheight) / 2);
  border-top-left-radius: calc(var(--domeheight) / 2);
  border-top-right-radius: calc(var(--domeheight) / 2);

  background: 
    var(--makearainbow),
    var(--smalloverlay),
    var(--smallstripes);
}

  h1{
    font-family: var(--fancy);
    padding-top: 2rem;
  }

  h2 {
    font-family: var(--fancy);
    font-size: 1.5 rem;
    padding: 0;
    margin: auto;
  }

  h3 {
    font-family: var(--basic);
    font-size: 0.6 rem;
    padding: 0;
    margin: auto;
  }

  /* colour options */
.cell-5{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-items: center;
  gap: 5px;
}
.theme:before{
  content: " ";
  z-index: -1;
  width: 67px;
  height: 67px;
  border: solid 4px var(--dark);
  position: absolute;
  border-radius: 5px;
  top: -5px;
  left: -5px;
  right: 5px;
  bottom: 5px;
}

.theme{
  position: relative;
  width: 62px;
  height: 62px;
  border: solid 3px var(--white);
  border-radius: 5px;
  display: flex;
  align-items: flex-end;
  justify-items: center;
  text-align: center;
  transform: scale(0.7);
  flex-basis: auto;
}

.theme:hover{
  transform: scale(1);
  transition-delay: 0.5s ease;
}

.egg{
  background: rgb(255,255,255);
  background: linear-gradient(145deg, rgba(255,255,255,1) 0%, rgba(248,208,121,1) 40%, rgba(171,170,164,1) 100%);
}

.sunrise{
  background: rgb(146,208,231);
  background: linear-gradient(145deg, rgba(146,208,231,1) 0%, rgba(249,228,233,1) 43%, rgba(252,211,191,1) 82%, rgba(249,159,159,1) 100%);}

.sunset{
  background: rgb(227,47,12);
  background: linear-gradient(137deg, rgba(227,47,12,1) 2%, rgba(64,132,255,1) 50%, rgba(245,227,155,1) 100%);
}

.news{
  background: rgb(55,51,50);
  background: linear-gradient(145deg, rgba(55,51,50,1) 2%, rgba(128,131,136,1) 19%, rgba(238,238,238,1) 73%);
}

.pizza{
  background: rgb(227,47,12);
  background: linear-gradient(137deg, rgba(227,47,12,1) 2%, rgba(255,202,64,1) 50%, rgba(245,226,199,1) 100%);
}